*.pyc
__pycache__
.idea/
.vscode
venv
resources/images/*/*.png
resources/images/*/*.jpg
resources/images/*/*.jpeg
resources/images/*/*.jpe
resources/images/*/*.svg
resources/images/*.png
resources/images/*.jpg
resources/images/*.jpeg
resources/images/*.jpe
resources/images/*.svg
resources/files/*.pdf
resources/files/*.docx
resources/files/*.pptx
resources/files/*/*.pdf
resources/files/*/*.docx
resources/files/*/*.pptx
resources/files/school_years/
resources/files/projects/
resources/images/school_years/
resources/images/schools/
.coverage
htmlcov/
.env